ul.tags li {
  display: inline-block;
  margin: 0 5px 10px 5px;
  padding: 5px;
  background-color: #fff;
  border: 1px solid #ff8600;
  color: #777;
  cursor: pointer;
}
ul.tags li.selected {
  background-color: #ff8600;
  color: #fff;
}
ul.tags li:hover {
  background-color: #FF9966;
}
